In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv("D:\\PG-DBDA\\PML\\AirQualityUCI(20230106_151037).csv")

In [3]:
df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,3/10/2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
1,3/10/2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2,3/10/2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN
3,3/10/2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN
4,3/10/2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN

In [4]:
df.shape

(9471, 17)

In [5]:
df.isnull().sum()# null values

Date              114
Time              114
CO(GT)            114
PT08.S1(CO)       114
NMHC(GT)          114
C6H6(GT)          114
PT08.S2(NMHC)     114
NOx(GT)           114
PT08.S3(NOx)      114
NO2(GT)           114
PT08.S4(NO2)      114
PT08.S5(O3)       114
T                 114
RH                114
AH                114
Unnamed: 15      9471
Unnamed: 16      9471
dtype: int64

In [6]:
df.drop('Time', axis=1, inplace=True)
df.drop('Unnamed: 15', axis=1, inplace=True)
df.drop('Unnamed: 16', axis=1, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   CO(GT)         9357 non-null   float64
 2   PT08.S1(CO)    9357 non-null   float64
 3   NMHC(GT)       9357 non-null   float64
 4   C6H6(GT)       9357 non-null   float64
 5   PT08.S2(NMHC)  9357 non-null   float64
 6   NOx(GT)        9357 non-null   float64
 7   PT08.S3(NOx)   9357 non-null   float64
 8   NO2(GT)        9357 non-null   float64
 9   PT08.S4(NO2)   9357 non-null   float64
 10  PT08.S5(O3)    9357 non-null   float64
 11  T              9357 non-null   float64
 12  RH             9357 non-null   float64
 13  AH             9357 non-null   float64
dtypes: float64(13), object(1)
memory usage: 1.0+ MB

In [10]:
df.dropna(axis=0,inplace=True)

In [11]:
df.isnull().sum()

Date             0
CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

In [12]:
df.drop('Date', axis=1, inplace=True)

In [13]:
X = df.drop('RH', axis=1)#independent
y = df.RH #dependent

In [14]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.20, random_state=0)

In [22]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [24]:
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(X_train,y_train)

LinearRegression()

In [39]:
print('Intercept:',lr_model.intercept_)
print('--------------------------------')
print('Slope:')
list((X.columns.tolist(),lr_model.coef_))

Intercept: 55.98392376101503
--------------------------------
Slope:

[['CO(GT)',
  'PT08.S1(CO)',
  'NMHC(GT)',
  'C6H6(GT)',
  'PT08.S2(NMHC)',
  'NOx(GT)',
  'PT08.S3(NOx)',
  'NO2(GT)',
  'PT08.S4(NO2)',
  'PT08.S5(O3)',
  'T',
  'AH'],
 array([ 3.59793916e-03,  9.34916009e-03, -1.56276232e-02, -1.08332297e+00,
        -4.84386267e-02,  2.89605495e-02, -1.98447879e-02, -4.88788334e-02,
         5.79678332e-02, -1.55959041e-04, -2.03066333e+00,  4.42862711e+00])]

In [31]:
from sklearn.metrics import mean_squared_error,mean_absolute_error 
y_pred=lr_model.predict(X_test)                      #predict using the model
rmse=mean_squared_error(y_test,y_pred)      #calculate mse
print('Baseline MSE of model:',rmse)

Baseline MSE of model: 63.14272111648009

In [38]:
from sklearn.metrics import  mean_absolute_error
y_pred=lr_model.predict(X_test)                      #predict using the model
mae=mean_absolute_error(y_test,y_pred)     #calculate mae
print('Baseline mae of model:',mae)

Baseline mae of model: 6.273004837093375

In [45]:
from sklearn.tree import DecisionTreeRegressor         #Decision tree regression model
dt_one_reg=DecisionTreeRegressor()

In [43]:
dt_model=dt_one_reg.fit(X_train,y_train)         #fit the model
y_pred_dtone=dt_model.predict(X_test)            #predict

In [46]:
#calculate MSE
print('MSE of Decision Tree Regression:',mean_squared_error(y_pred_dtone,y_test))

MSE of Decision Tree Regression: 1.5680448717948718

def train_test_RMSE(feature):
    X=df[feature]
    y=df['RH']
    X_std_one=ss.fit_transform(X)
    X_trainR,X_testR,y_trainR,y_testR=train_test_split(X_std_one,y,test_size=0.3,random_state=42)
    lr_model_one=lr.fit(X_trainR,y_trainR)
    y_predR=lr_model_one.predict(X_testR)
    return np.sqrt(mean_squared_error(y_testR,y_predR))

def train_test_RMSE(feature):
    X=df[feature]
    y=df['RH']
    X_std_one=ss.fit_transform(X)
    X_trainR,X_testR,y_trainR,y_testR=train_test_split(X_std_one,y,test_size=0.3,random_state=42)
    lr_model_one=lr.fit(X_trainR,y_trainR)
    y_predR=lr_model_one.predict(X_testR)
    return mean_squared_error(y_testR,y_predR)

from sklearn.metrics import mean_squared_error,mean_absolute_error 
y_pred=lr_model.predict(X_test)                      #predict using the model
rmse=np.sqrt(mean_squared_error(y_test,y_pred))      #calculate rmse
print('Baseline RMSE of model:',rmse)

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
var_mod = df.select_dtypes(include='object').columns
for i in var_mod:
    df[i] = le.fit_transform(df[i])